# ==================================================
# Meshtray Ecosystem - Client Template .env
# Copia questo file in 'client/.env' e configura
# ==================================================

# URL di base del server WebSocket (es. ws://localhost:8088 o wss://indirizzo-ip:8088)
WS_BASE_URL=ws://localhost:8088

# (Opzionale) Percorso locale del certificato CA per convalidare il certificato SSL del server
ROOT_CA=
